## It is important to read the following document before enabling this section:
##     https://www.authelia.com/integration/proxies/caddy/#forwarded-header-trust#trusted-proxies
(trusted_proxy_list) {
       ## Uncomment & adjust the following line to configure specific ranges which should be considered as trustworthy.
#        trusted_proxies 10.0.0.0/8 172.16.0.0/16 192.168.0.0/16 fc00::/7
}

# Authelia Portal.
pygeoapi.local {
        reverse_proxy authelia:9091 {
                ## This import needs to be included if you're relying on a trusted proxies configuration.
                # import trusted_proxy_list
        }
}

# Protected Endpoint.
app.pygeoapi.local {
        forward_auth authelia:9091 {
                uri /api/verify?rd=https://pygeoapi.local/
                copy_headers Remote-User Remote-Groups Remote-Name Remote-Email

                ## This import needs to be included if you're relying on a trusted proxies configuration.
                # import trusted_proxy_list
        }
        reverse_proxy pygeoapi:80
}
