# Authelia Portal.
pygeoapi.local {
        reverse_proxy authelia:9091
}

# Protected Endpoint.
app.pygeoapi.local {
        forward_auth authelia:9091 {
                uri /api/authz/forward-auth?authelia_url=https://pygeoapi.local/
                copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
        }
        reverse_proxy pygeoapi:80
}
